@if (course) {
<div class="course-card" [ngClass]="cardClasses()">
  <div class="course-title">{{ course.description }}</div>

  @if (course.iconUrl) {
  <ng-content select=".course-image"></ng-content>
  }
  <div class="course-description">
    Edit Title:
    <input
      #newTitle
      [value]="course.description"
      (keyup)="onTitleChange(newTitle.value)"
    />
  </div>
  <ng-content select=".course-description"></ng-content>

  @switch (course.category) { @case ('BEGINNER') {
  <div class="category">Beginner</div>
  } @case ('INTERMEDIATE') {
  <div class="category">Intermediate</div>
  } @case ('ADVANCED') {
  <div class="category">Advanced</div>
  } @default {
  <div class="category">Unknown</div>
  } }
  <button (click)="onSaveClicked(newTitle.value)">Save Course</button>
</div>
}
