<ng-container *ngIf="course">
  <div class="course-card" [ngClass]="cardClasses()">
    <div class="course-title">{{ course.description }}</div>

    <ng-content select=".course-image"></ng-content>
    <ng-content select=".course-description"></ng-content>
    <ng-content></ng-content>

    @switch (course.category) { @case ('BEGINNER') {
    <div class="category">Beginner</div>
    } @case ('INTERMEDIATE') {
    <div class="category">Intermediate</div>
    } @case ('ADVANCED') {
    <div class="category">Advanced</div>
    } @default {
    <div class="category">Unknown</div>
    } }
    <button (click)="onCourseViewed()">View Course</button>
  </div>
</ng-container>
