<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div>
  <button (click)="onEditTitle()">Edit</button>
</div>

<div class="courses" *ngIf="courses$ | async as courses">
  <course-card
    *ngFor="let course of courses"
    (courseChanged)="save($event)"
    [course]="course"
  >
    <!-- pass course image as the content of the course card  -->
    <course-image class="course-image" [src]="course.iconUrl"></course-image>

    <div class="course-description">
      {{ course.longDescription }}
    </div>
  </course-card>
</div>
